/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

/* * header */
/* form */
form {
    width: 20%;
}

form select {
    height: 28px;
    width: 95px;
}

form button {
    width: 95px;
}

/* * main */
main {
    background-color: #7FFFD4;
    padding: 5rem 0 5rem;
}

/* grid & cells */
.grid {
    width: 600px;
    height: 600px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: calc(100% / 10);
    height: calc(100% / 10);
    font-size: large;
    cursor: pointer;
}

.clicked {
    background-color: blue;
    color: white;
}